.navega{
	background-color: #181818;
	
}

#login-dp{
    min-width: 350px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:12px    
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0    
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

    



.botao{
	margin-left: 200px;
	
	
}

.botao1{
	margin-left: 780px;
}

.logo{

	margin-top: 10%;
	margin-left: 30%;
	padding: 0;
	width: 220px;    
	height: auto;  	
}

.login{
	background: white;

}
#descricao{
	font-size: 16px;
	font-family: verdana;
	color: #999999;
}


/***campo de busca***/
.container{
    margin-top:4px; 
}
.stylish-input-group .input-group-addon{
    background: white !important; 
    border-color:#FF3300;
   
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#FF6600;

}
.stylish-input-group button{
    border:0;
    background:transparent;
    
}

.amostra{
	margin-top:30px; 
	margin-left: 0%;

}
.amostra a{
	font-size: 16px;
	color: #FF6600;
}
#amostra1{
	margin-top:30px; 
	margin-left: 452px;
	color:#FF6600;

}
#amostra2{
	margin-top:30px; 
	margin-left: 75px;

}
h3.popover-title{
	    background-color: black;
    color: antiquewhite;
}

.popover-content {
    padding: 9px 25px;
    color:#FF6600;
}

#principal{
	margin-bottom: 70px;
}



