 	

.cabeca{
	border-color: #999999;
	border-bottom-width: 5px;
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	border-style: solid;
}
h1{
	font-size: 28px;
	font-family: verdana;
	color: #666666;
	margin-left: 20%;
	
	}

#bt2{

	margin-left: 80%;
	margin-top: 3%;
}
#bt1{

	margin-left: 0%;
	margin-top: 3%;
}



.opcoes{
	font-size: 18px;
	font-family: verdana;
	color: #FF6600;
}
.lista{
	margin-top:40px; 

}
.informa{
	font-size: 18px;
	font-family: verdana;
	color: #999999;
}

.tela{
	margin-left: 25%;
}

p{
	font-size: 16px;
	font-family: verdana;
	color: #999999;
}
.img{
	margin-top:50px; 
	width: 335px;    
	height: auto; 
}
.modal-header{
	background-color: #FF6600;
	}

h4{
	color: #FFFFFF;

}
.form-control{
	width: 70%;
	margin-left: calc;
}